Ahoj {{ name }},

vítejte v SimpleCRM. Pro dokončení registrace prosím potvrďte svou e-mailovou adresu kliknutím na následující odkaz:

{{ link }}

Odkaz je platný 24 hodin. Pokud jste registraci nezahájili, tento e-mail prosím ignorujte.
