Hi {{ name }},

welcome to SimpleCRM. To finish signing up, please confirm your email
address by clicking the link below:

{{ link }}

The link is valid for 24 hours. If you didn't sign up, please ignore
this email.
